.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.log-out-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    background: #6027b6;
    margin-top: 3%;
    margin-right: 6%;
    padding: 9px;
    font-size: 18px;
    color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.log-out-btn:hover {
    background: #8452cf;
}

.main-welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    h2 {
        text-align: center;
        font-size: 3em;
        font-weight: bold;
        color: rgb(255, 255, 255);
        margin-bottom: 0;
        animation-name: iluminate;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
}

@keyframes iluminate {
    0% {
        color: rgb(255, 255, 255);
    }
    25% {
        color: rgb(255, 255, 255);
        text-shadow: 0 0 10px rgb(255, 255, 255);
    }
    50% {
        color: rgb(255, 255, 255);
        text-shadow: 0 0 10px rgb(255, 255, 255);
    }
}